[Desktop Entry]
Encoding=UTF-8
Name=BlackCoinLite
Comment=BlackCoinLite P2P Cryptocurrency
Comment[fr]=BlackCoinLite, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BlackCoinLite, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/blackcoinlite-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/blackcoinlite;
Categories=Office;
